h1 {
  margin: 20px;
  font-size: 30pt;
}

h3 {
  margin: 20px;
}

#grid {
  margin: 20px;
  box-sizing: border-box;
  height: auto;

  background-color: plum;

  max-width: 1400px;

  display: grid;
  grid-template-columns: 350px 400px 550px;
  grid-template-rows: auto;
}

nav {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: aquamarine;
}

section {
  background-color: rgb(87, 191, 191);
}
